<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th> name</th>
        <th>amount</th>
        <th>price</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="products : ${product}">
        <tr>
            <td th:text="${products.name}"></td>
            <td th:text="${products.amount}"></td>
            <td th:text="${products.price}"></td>
            <td><a th:href="@{/products/update/__${products.id}__ }">Update</a></td>
            <td><a th:href="@{/products/delete/__${products.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>